.banner ul {
  list-style: none;
  padding: 0;
}

.oversigt li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  margin-top: 2%;
  padding: 1%;
  border-bottom: solid black 0.2px;
  text-align: center;
}

main {
  margin-left: 1%;
  margin-right: 1%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 2%;
}
main nav li {
  display: block;
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
/* main nav li {
  float: left;
} */
.oversigt a {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.land {
  background-color: rgb(224, 224, 224);
  text-decoration: none;
  border: solid rgb(224, 224, 224) 9.8px;
}

.land:hover {
  background-color: rgb(190, 189, 187);
  text-decoration: none;
  border: solid rgb(190, 189, 187) 9.8px;
}
main nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20fr;
  gap: 2%;
  margin-top: 5%;
}
main nav {
  border-bottom: solid 11px rgb(190, 189, 187);
  padding-bottom: 9px;
}
.lokal_lokation {
  background-color: rgb(190, 189, 187);
  border: solid rgb(190, 189, 187) 9.8px;
}
.land {
  color: black;
  background-color: none;
}
